@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');




a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}






header a.button1 {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(https://srnyx.github.io/assets/images/github-button.png) 0 0 no-repeat;

}










  header a.button1 {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-color: #9ddcff;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header a.button1 small {
    display: inline;
    font-size: 13px;
  }
