@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');


header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: url(https://img.chrizftw.cf/r/kp4p031fb9a.pmg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}



a.button1 {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button1 small {
  display: block;
  font-size: 11px;
}




header a.button1 {
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://img.chrizftw.cf/r/kp2z6okzu9a.png) 0 0 no-repeat;
 /* border: 5px solid white; */
 /* border-radius: 16px; */
}




aside a.button1 {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

aside#sidebar a.button1 {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 0;
    margin-left: 0;
    content: none;
  }
}















  header a.button {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-color: #9ddcff;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header a.button small {
    display: inline;
    font-size: 13px;
  }
